<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div :class="contain ? 'container' : ''"> <!-- real root of nav -->
      <div class="navbar-brand">
          <nuxt-link class="navbar-item" to="/"><img :src="logo"></nuxt-link>
      </div>
      <div class="navbar-menu is-active">
          <div class="navbar-start">
            <nuxt-link class="navbar-item" active-class="is-active" to="/profiles">Profiles</nuxt-link>
            <nuxt-link class="navbar-item" active-class="is-active" to="/contact">Contact</nuxt-link>
          </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  props: {
    contain: {
      type: Boolean,
      default: true
    },
    watermark: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    logo () {
      return this.watermark ? require('~/assets/watermark.svg') : require('~/assets/logo.svg')
    }
  }
}
</script>
