<template>
  <section class="container">
    <nav class="level">
      <div class="level-left">
        <b-field>
          <b-input v-model="query" placeholder="Search the platforms..." type="search" icon="magnify" />
          <p class="control">
            <button class="button is-primary" @click="search(query)">Search</button>
          </p>
        </b-field>
      </div>
      <div class="level-right">
        <div class="field">
            <b-switch v-model="fediverseOnly">
              <b-icon pack="fa" icon="globe" />
            </b-switch>
        </div>
      </div>
    </nav>
    <b-table :data="data" :paginated="true">
      <template slot-scope="props">
        <b-table-column field="platform" label="Platform" sortable>
            {{ props.row.platform }}
        </b-table-column>
        <b-table-column field="id" label="ID">
          <a v-if="props.row.url" :href="props.row.url">{{props.row.id}}</a>
          <template v-else>{{props.row.id}}</template>
        </b-table-column>
        <b-table-column field="fediverse" label="Fediverse" centered>
          <b-icon pack="fa" icon="check" v-if="props.row.fediverse" />
        </b-table-column>
        <b-table-column field="note" label="Note">
          {{props.row.note}}
        </b-table-column>
       </template>
    </b-table>
  </section>
</template>

<script>
export default {
  data () {
    return {
      raw: require('~/assets/profiles.json'),
      data: require('~/assets/profiles.json'),
      query: '',
      fediverseOnly: false
    }
  },
  watch: {
    query (q) {
      this.search(q, this.fediverseOnly)
    },
    fediverseOnly (v) {
      this.search(this.query, v)
    }
  },
  methods: {
    search (q, v) {
      if (q.trim().length !== 0 || v) {
        this.data = this.raw.filter(s => s.platform.toLowerCase().includes(q.toLowerCase()) && (v ? s.fediverse : true))
      } else {
        this.data = this.raw
      }
    }
  }
}
</script>

<style>
section.container > nav.level {
  margin-top: 1em;
}
</style>
